<app-admin-navbar></app-admin-navbar>
<h3 style="text-align: center; height: 500px;font-size: 80; color:rgb(31, 3, 3)"><i>

<ol>
<li><i class="fa fa-mobile" aria-hidden="true">Phone:</i><input type="text" style="background-image: url('./assets/bg.jpg');"></li>
<li><li></li>
<li><i class="fa fa-envelope" aria-hidden="true">Email:</i><input type="email" style="background-image: url('./assets/bg.jpg');"></li>
<li><button class="btn btn-primary btn-lg">Request Call Back</button></li>
</ol>
    
</i></h3>
