<nav class="navbar navbar-light" style="background-color:rgb(253, 114, 114)">
    <a class="navbar-brand" routerLink="/home" routerLinkActive = "active"><h3 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-home" aria-hidden="true">Home</i></h3></a>
    <a class="navbar-brand" routerLink="/user-login" routerLinkActive = "active"><h3 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-location-arrow" aria-hidden="true">Login</i></h3></a>
    <a class="navbar-brand" routerLink="/user-registration" routerLinkActive = "active"><h4 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-plus-circle" aria-hidden="true">Registration</i></h4></a>
</nav>

<div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="row" style="padding-right: 20px;" >
           
          <img class="d-block w-100" src="https://images.unsplash.com/photo-1604908176997-125f25cc6f3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8ZGVsaWNpb3VzJTIwZm9vZHxlbnwwfHwwfHw%3D&w=1000&q=80" style="height: 350px; width: 600px;"/>
           
            <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i> Buy NOW</button>    
          
        </div>
        
      </div>
      
      <div class="col-md-6">
        <div class="row " >
           <img class="d-block w-100" src="https://wallpapercave.com/wp/wp9443871.jpg" style="height: 350px; width: 600px;"/>
           <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i>  Buy NOW</button>    
          
          </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="row" style="padding-right: 20px;" >
             
            <img class="d-block w-100" src="https://wallpaperaccess.com/full/767048.jpg" style="height: 350px; width: 600px;"/>
             
              <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i>  Buy NOW</button>    
            
          </div>
          
        </div>
        
        <div class="col-md-6">
          <div class="row " >
             <img class="d-block w-100" src="https://img.buzzfeed.com/buzzfeed-static/static/2021-04/28/23/asset/b7ebaef67849/sub-buzz-627-1619652518-9.jpg" style="height: 350px; width: 600px;"/>
             <button type="button" class="btn btn-primary" style="height: fit-content; width:  600px;"(click)="btnClick();"><i class="fa fa-ticket"></i>  Buy NOW</button>    
            
            </div>
        </div>
      </div>
    
  </div>
  <!--Footer-->
  
  <div class="card-footer bg-transperent border-info">
   @Copyright 2023 Prepared By: Molly Mukherjee
  </div>
  