<app-admin-navbar></app-admin-navbar>
<h4 style="text-align: center; height: 500px;font-size: 80; color:rgb(103, 7, 7)"><i>

<ol>
<li>Eat a lot today (and again tomorrow)</li>
<li>Burgers! Because no great story started with salad<img src="./assets/g4.gif" height="100" width="200"></li>
<li>Join us at: Foodbox Simplilearn</li>
<li>Phone: 777777777<img src="./assets/g5.gif" height="100" width="200"></li>
<li>Email Us: foodbox@Simplilearn.com</li>
</ol>

    <a class="navbar-brand" routerLink="/contact" routerLinkActive = "active"><h4 style="font-family: 'Times New Roman', Times, serif;"><i class="fa fa-phone-square" aria-hidden="true">  Contact Us</i></h4></a>

</i></h4>