<i><b><h1 style="text-align: center;
  height: 200px; font-size: 100px; color:blue ">Welcome to the Food-Box</h1></b></i>

<button type="button" (click) = "goToAdminPortal()" class="btn btn-primary btn-lg btn-block">Admin Portal</button>
<button type="button" (click) = "goToUserPortal()" class="btn btn-primary btn-lg btn-block">User Portal</button>
<table>

  <tr><td><img src="./assets/giphy1.gif" width="700" height="500"></td>
  <td><img src="./assets/giphy2.gif" width="715" height="500"></td>
  </tr>
</table>